.about-container {
  width: 100%;
  padding: 40px 80px;
  display: flex;
  flex-direction: column;
  gap: 60px;
  font-family: 'Inter', sans-serif;
}

.hero-section {
  background: #e8f4ff;
  padding: 50px;
  border-radius: 30px;
  text-align: center;
}

.hero-section h1 {
  font-size: 42px;
  margin-bottom: 15px;
}

.hero-section p {
  font-size: 18px;
  color: #555;
  max-width: 700px;
  margin: 0 auto;
}

.team-section h2,
.mission-section h2,
.contact-section h2 {
  font-size: 32px;
  margin-bottom: 25px;
  text-align: center;
}

.team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
}

.team-card {
  background: #f9fbfd;
  padding: 25px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.05);
}

.team-card img {
  /*width: 120px;*/
  width: 100%;
  height: 250px;     
  object-fit: cover;
  border-radius: 50%;
  background: #ddd;
  margin-bottom: 15px;
}

.mission-section {
  background: #f1f6f9;
  padding: 40px;
  border-radius: 25px;
  text-align: center;
  line-height: 1.7;
}

.contact-section {
  text-align: center;
  padding-bottom: 40px;
}

.contact-section p {
  font-size: 18px;
}
