.navbar {
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #bde5ee; 
  padding: 12px 20px;
  display: flex;
  justify-content: center;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
  z-index: 1000;
}

.navbar-links {
  display: flex;
  gap: 25px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  color: #0b032d; 
  font-weight: 500;
  padding-bottom: 4px;
  transition: all 0.3s ease;
  font-family: "Inter", sans-serif;
}

.nav-link.active {
  border-bottom: 2px solid #621940;
}

.nav-link:hover {
  color: #f67e7d;
}

.nav-button {
  background-color: #bde5ee;
  border: none;
  padding: 6px 14px;
  border-radius: 6px;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease;
}

.nav-button:hover {
  background-color: #bde5ee; 
  transform: scale(1.05);
}
